<div class="container-fluid">
  <div class="row page-title align-items-center">
    <div class="col-md-3 col-xl-6">
      <h4 class="mb-1 mt-0"><i data-feather="users"></i> <span> Users List</span></h4>
    </div>
    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <div class="col-md-9 col-xl-6 text-md-right">
      <div class="mt-4 mt-md-0">
        <button type="button" class="btn btn-danger mb-3 mb-sm-0" href="javascript:void(0);"
          routerLink="/manage-users/add-user"><i class="uil-plus mr-1"></i> Create User</button>
        <!-- <div class="btn-group mb-3 mb-sm-0">
          <button type="button" class="btn btn-primary">All</button>
        </div>
        <div class="btn-group ml-1">
          <button type="button" class="btn btn-white">Active</button>
        </div> -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">
      <ag-grid-angular #agProjectGrid id="myGrid" style="height: 700px;"
        class="ag-theme-alpine table table-dark" [rowData]="userDataSource" [columnDefs]="columns" [pagination]="true"
        [paginationPageSize]="paginationPageSize" [frameworkComponents]="frameworkComponents">
      </ag-grid-angular>
    </div>
  </div>
</div>
