<div class="row">
    <app-ui-preloader [display]="loading"></app-ui-preloader>
    <!-- <form class="addproject-form" name="projectForm" [formGroup]="projectForm" (ngSubmit)="onSubmit()"
    novalidate> -->

    <!-- <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert> -->

      <div class="row">
        <div class="col-md-4">
        <button class="btn btn-primary btn-block" type="button" (click)="onSubmit()"> save
        </button>
      </div>
      </div>
    <!-- </form> -->
</div>
