<div class="account-pages my-5">
    <div class="container">
            
        <div class="row">
            <div class="col-md-9"></div>
                <div class="col-md-3">
                    <a routerLink="/addproduct"
                      class="float-right btn btn-primary btn-block">Add Product</a>
                </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group mb-0 text-center">
                    
                  </div>
            </div>
        </div>
    </div>
</div>